﻿@model EventCreator.Models.MainPageModel

@{
    ViewBag.PageTitle = "Welcome " + Model.User.FirstName;
}

<div class="row eventsContainer" style="    padding-left: 20%; padding-top: 3%;">
    <div class="col-md-6">

        @if (Model.Events.Count > 0)
        {

            foreach (var item in Model.Events)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="text-primary" style="margin-top:0 !important">
                            @(item.eventItem.Title.Length > 50 ? item.eventItem.Title.Substring(0, 50) + "..." : item.eventItem.Title)
                            <a href="~/Event/EventInfo/@item.eventItem.Id" style="position: absolute;    right: 30px;"><i class="glyphicon glyphicon-arrow-right"></i></a>
                        </h3>
                        <h6 style="margin-top: 6px !important; margin-bottom: unset !important;">
                            <i class="eventDetailInfo">Start Date : @(DateTime.ParseExact(item.eventItem.StartDate,"yyyyMMddHHmmss",System.Globalization.CultureInfo.InvariantCulture).ToString("dd-MM-yyyy HH:mm"))</i>
                            <i class="eventDetailInfo">End Date : @(String.IsNullOrEmpty(item.eventItem.EndDate) ? "~" : (DateTime.ParseExact(item.eventItem.EndDate, "yyyyMMddHHmmss", System.Globalization.CultureInfo.InvariantCulture).ToString("dd-MM-yyyy HH:mm")))</i>
                            <i class="eventDetailInfo">Created By : @(item.CreatedBy.FirstName+" "+ item.CreatedBy.LastName)</i>
                        </h6>
                    </div>
                    <div class="panel-body" style="max-height: 100px;    overflow: auto;">
                        @(String.IsNullOrEmpty(item.eventItem.Description) ? "No description is entered." : (item.eventItem.Description.Length > 200 ? item.eventItem.Description.Substring(0, 200) + "..." : item.eventItem.Description))

                    </div>
                </div>
                    }
                }
                else
                {
                <div>
                    You have no 'event' yet.
                    <br><br>
                    Create an 'event' via the
                    <div class="text-success" style="    width: 25px;    height: 25px;    font-size: 15px;    padding-left: 5px;    padding-top: 4px;    border-radius: 50px;    box-shadow: 0px 3px 4px -1px grey; display: inline-block;">
                        <i class="glyphicon glyphicon-plus"></i>
                    </div>
                    button on the right.
                </div>
                }
    </div>
    <div class="col-md-3" style="    padding-left: 252px;">
        <a href="../Event/EventInfo" title="Create event">
            <div class="text-success" style="
    width: 70px;
    height: 70px;
    font-size: 50px;
    padding-left: 12px;
    padding-top: 4px;
    border-radius: 50px;
    box-shadow: 0px 3px 4px -1px grey;">
                <i class="glyphicon glyphicon-plus"></i>
            </div>
        </a>
    </div>
</div>

<style>
    .eventsContainer .card-header {
        padding: 3px !important;
    }

    .eventsContainer .eventDetailInfo {
        margin-right: 15px !important;
    }

    .eventsContainer .card-body {
        font-weight: bolder !important;
        color: black !important;
    }

    .eventsContainer .eventItemContainer {
        margin-bottom: 20px;
    }
</style>