﻿@model EventCreator.Entities.Concrete.User

<div class="container">
    <!-- Nested Row within Card Body -->
    <div class="row" style="margin-top: 10%;">
        <div class="col-lg-5" style="max-height: 360px !important;    overflow: auto;">
            @if (File.Exists(Server.MapPath("~") + "/Content/Images/User/" + Model.Id + "_" + Model.ImageVersion + ".jpeg"))
            {
                <img id="imgUser" src="~/Content/Images/User/@(Model.Id + "_" + Model.ImageVersion).jpeg" style="width: 100%;    height: 100%;    border-radius: 35px;    box-shadow: 0px 0px 15px -3px #9999e2;" />
            }
            else
            {
                <img id="imgUser" src="~/Content/Images/User/0.jpeg" style="width: 100%;    height: 100%;    border-radius: 35px;    box-shadow: 0px 0px 15px -3px #9999e2;" />
            }
        </div>
        <div class="col-lg-7">

            <div class="text-center">
                <h1>
                    @if (Model.Id == 0)
                    {

                        <span>Create an Account!</span>
                    }
                    else
                    {

                        ViewBag.PageTitle = "Profile";

                        <span>Edit Profile</span>
                    }
                </h1>
            </div>
            <form class="user" method="post" action="~/User/SaveUser" enctype="multipart/form-data">
                <input type="text" class="form-control" id="Id" name="Id" placeholder="Id" value="@Model.Id" style="display:none">

                <div class="form-group row">
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="First Name *" value="@Model.FirstName">
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control form-control-user" id="LastName" name="LastName" placeholder="Last Name *" value="@Model.LastName">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <input @(Model.Id == 0 ? "" : "readonly") type="email" class="form-control" id="EMail" name="EMail" placeholder="Email Address *" value="@Model.EMail">
                        <div id="alertEmailTaken" class="alert alert-danger" role="alert" style="display:none">
                            Login Failed. Please check email and password
                        </div>
                    </div>
                </div>
                
                <div class="form-group row">
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="Password" name="Password" placeholder="Password *">
                    </div>
                    <div class="col-sm-6">
                        <input type="password" class="form-control" id="RepeatPassword" placeholder="Repeat Password *">
                    </div>
                </div>

                <div class="form-group row">
                    <input type="button" class="btn btn-default col-md-offset-5" value="Choose Photo" onclick="$('#UserImage').click()" />
                    <input type="file" id="UserImage" name="UserImage" style="display:none" />
                    <input type="text" id="ImageVersion" name="ImageVersion" style="display:none" value="@Model.ImageVersion"/>
                </div>

                <button type="submit" id="btnSubmit" class="btn btn-primary btn-block">
                    @if (Model.Id == 0)
                    {
                        <span>Register Account</span>
                    }
                    else
                    {
                        <span>Save</span>
                    }
                </button>

                @if (Model.Id == 0)
                {
                    <div class="form-group row">
                        <a href="~/Login" style="left: 43%;    top: 20px;    position: relative;">Back To Login</a>
                    </div>
                }

            </form>
        </div>
    </div>
</div>
