﻿@model EventCreator.Entities.Concrete.User

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Event Creator - Edit Profile</title>

    @Styles.Render("~/Content/css")

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    @Styles.Render("~/bundles/templateCss")
</head>
<body class="bg-gradient-primary">

    @Html.Partial("../User/_UserInfoPartial", Model);

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/templateJs")

    <script type="text/javascript" src="~/Scripts/Controller/User/UserInfoPartial.js"></script>
</body>
</html>
