﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Event Creator - Login</title>
    <!-- Custom fonts for this template-->

    @Styles.Render("~/Content/css")

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</head>
<body>
    <div class="container">
        <!-- Outer Row -->
        <div class="row">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6" style="margin-left: 25%; margin-top: 10%; box-shadow: 0px 0px 25px -8px grey;">
                        <div class="text-center">
                            <h1>Welcome Back!</h1>
                        </div>
                        <form class="user" method="post" action="../Login/CheckLogin">

                            <div class="form-group">
                                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter Email Address..." style="font-size:15px">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password" style="font-size:15px">
                            </div>

                            @if (ViewBag.LoginError != null && ViewBag.LoginError)
                            {
                                ViewBag.LoginError = null;

                                <div class="alert alert-danger" role="alert">
                                    There is an account using the email.
                                </div>
                            }

                            <button type="submit" class="btn btn-primary btn-block " style="font-size:15px">
                                Login
                            </button>
                        </form>

                        <div class="text-center" style="margin-top: 20px;  margin-bottom: 20px;   font-size: 12px;    text-decoration: none;">
                            <a class="medium" href="../Login/Register">Create an Account!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/Plugins/jquery-ui/jquery-ui.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

    @Scripts.Render("~/bundles/bootstrap")

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

    @Scripts.Render("~/bundles/templateJs")

    <script src="~/Scripts/Plugins/bootsrap-notify.min.js"></script>

    <script type="text/javascript" src="~/Scripts/Controller/Login/Login.js"></script>
</body>
</html>
