﻿@model EventCreator.Entities.Concrete.User

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Event Creator - Register</title>

    @Styles.Render("~/Content/css")

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/Plugins/jquery-ui/jquery-ui.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

    @Scripts.Render("~/bundles/bootstrap")

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

    @Scripts.Render("~/bundles/templateJs")

    <script src="~/Scripts/Plugins/bootsrap-notify.min.js"></script>
</head>
<body>

    @Html.Partial("../User/_UserInfoPartial", Model)

    <script type="text/javascript" src="~/Scripts/Controller/User/UserInfoPartial.js"></script>
</body>
</html>
