﻿@model EventCreator.Models.EventInfoModel

@using EventCreator.Entities.Concrete;

@{
    var currentUser = (User)Session["user"];
    var IsEventCreatedByCurrentUser = Model.Event.CreatedBy == currentUser.Id;
    var IsCreateEvent = Model.Event.Id == 0;
    var IsDisplayEvent = !IsCreateEvent;

    var eventInfoReadOnly = !IsEventCreatedByCurrentUser && !IsCreateEvent ? "readonly" : "";

    ViewBag.PageTitle = "Event";
}

<div class="container">

    <input type="text" style="display:none" id="txtCurrentUserId" value="@(currentUser.Id)">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">


                <div class="col-lg-5">
                    <div>
                        <div class="text-center">
                            <h1>
                                @if (IsCreateEvent)
                                {
                                    <span>Create an Event!</span>
                                }
                                else if (IsEventCreatedByCurrentUser)
                                {
                                    <span>Edit Event</span>
                                }
                                else
                                {
                                    <span>Event Info</span>
                                }
                            </h1>
                        </div>
                        <form id="formEventInfo">
                            <input type="text" style="display:none" class="form-control" id="Id" name="Id" value="@Model.Event.Id">

                            <div class="form-group row">
                                <label>Title</label>
                                <textarea class="form-control" maxlength="1024" id="Title" name="Title" placeholder="Title *" @eventInfoReadOnly>@Model.Event.Title</textarea>
                            </div>
                            <div class="form-group row">
                                <label>Description</label>
                                <textarea class="form-control" maxlength="4000" id="Description" name="Description" placeholder="Description *" @eventInfoReadOnly>@Model.Event.Description</textarea>
                            </div>
                            <div class="form-group row">
                                <label>Start Date</label>
                                <div class="form-group">
                                    <div class='input-group date'  id="dtStartDate" placeholder="Start Date *" value="@Model.Event.StartDate" >
                                        <input type='text' class="form-control" id="StartDate" name="StartDate" @eventInfoReadOnly/>
                                        <span class="input-group-addon" @eventInfoReadOnly>
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <input type="hidden" id="StartDateHidden" value="@Model.Event.StartDate">
                            </div>
                            <div class="form-group row">
                                <label>End Date</label>
                                <div class="form-group">
                                    <div class='input-group date'  id="dtEndDate"  placeholder="End Date" value="@Model.Event.EndDate" >
                                        <input type='text' class="form-control" id="EndDate" name="EndDate" @eventInfoReadOnly />
                                        <span class="input-group-addon" @eventInfoReadOnly>
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <input type="hidden" id="EndDateHidden" value="@Model.Event.EndDate">
                            </div>
                            <div style="display:none">
                                <input type='text' class="form-control" id="CreatedBy" name="CreatedBy" value="@Model.Event.CreatedBy" />
                                <input type='text' class="form-control" id="CreatedDate" name="CreatedDate" value="@Model.Event.CreatedDate" />
                                <input type='text' class="form-control" id="ModifiedDate" name="ModifiedDate" value="@Model.Event.ModifiedDate" />
                            </div>
                            @if (IsEventCreatedByCurrentUser || IsCreateEvent)
                            {
                                <div class="form-group row">

                                    @if (IsEventCreatedByCurrentUser)
                                    {
                                        <div class="col-md-4">
                                            <input type="button" id="btnDeleteEvent" class="btn text-danger" value="Remove Event">
                                        </div>
                                    }

                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <input type="button" id="btnSaveEventData" class="btn btn-primary" value="Save Event">
                                    </div>
                                </div>
                            }
                        </form>
                    </div>
                </div>

                @if (IsDisplayEvent)
                {
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="text-center">
                                <h1>
                                    Guests
                                </h1>
                                <h4 id="divTotalGuestText">
                                    @(Model.Guests.Count) guest@(Model.Guests.Count > 1 ? "s are" : " is") invited.
                                </h4>
                            </div>

                            <div class="row" style="    padding-left: 20%;">

                                <div class="col-lg-12">
                                    <div id="divFilterGuests" class="row">
                                        <input type="checkbox" class="chkFilterGuests" responseType="1" checked /> <span class="text-success">Coming</span>
                                        <input type="checkbox" class="chkFilterGuests" responseType="2" checked /> <span class="text-warning">May Be</span>
                                        <input type="checkbox" class="chkFilterGuests" responseType="0" checked /> <span class="text-danger">Nope</span>
                                        <input type="checkbox" class="chkFilterGuests" responseType="-1" checked /> <span>No Response</span>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10" style="border-radius: 2px;box-shadow: 0px 0px 10px -4px grey;padding: 15px;max-height: 370px;    height: 370px;overflow: auto;">

                                            <div id="divGuestList">

                                                @foreach (var item in Model.Guests)
                                                {
                                                    string txtClass;

                                                    switch (item.Invitation.Response)
                                                    {
                                                        case 0:
                                                            txtClass = "text-danger";
                                                            break;
                                                        case 1:
                                                            txtClass = "text-success";
                                                            break;
                                                        case 2:
                                                            txtClass = "text-warning";
                                                            break;
                                                        default:
                                                            txtClass = "";
                                                            break;
                                                    }

                                                    <div class="guestsListItem @txtClass"
                                                         responseType="@item.Invitation.Response"
                                                         invitationId="@item.Invitation.Id">
                                                        @(item.Guest.FirstName + " " + item.Guest.LastName)

                                                        @if (IsEventCreatedByCurrentUser)
                                                        {
                                                            <a class="removeUserFromGuests" style="cursor:pointer">
                                                                <i class="glyphicon glyphicon-remove"></i>
                                                            </a>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-md-10" id="divGuestCount" style="color: black;    margin-top: 15px;    text-align: right;">@(Model.Guests.Count) guest(s)</div>
                                    </div>

                                    <div class="row" style="padding-top: 7%;">
                                        @if (IsEventCreatedByCurrentUser)
                                        {
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" id="txtUserList" placeholder="Add new user to list..." />
                                            </div>
                                            <div class="col-md-2">
                                                <input type="text" class="btn btn-primary" id="txtSelectedGuestId" style="display:none" />
                                                <input type="button" class="btn btn-primary" id="btnAddUserToGuestList" value="Add" />
                                            </div>
                                        }
                                        else
                                        {
                                            <input type="button" invitationId="@(Model.Guests.Where(x=>x.Guest.Id == currentUser.Id).Select(x=>x.Invitation.Id).ToList()[0])" class="btnInvitationResponse btn btn-success" response="1" value="I'm coming" />
                                            <input type="button" invitationId="@(Model.Guests.Where(x=>x.Guest.Id == currentUser.Id).Select(x=>x.Invitation.Id).ToList()[0])" class="btnInvitationResponse btn btn-warning" response="2" value="May be" />
                                            <input type="button" invitationId="@(Model.Guests.Where(x=>x.Guest.Id == currentUser.Id).Select(x=>x.Invitation.Id).ToList()[0])" class="btnInvitationResponse btn btn-danger" response="0" value="Nope" />
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteGuestConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                The guest will be removed from the list.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnDeleteGuestFromList">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addGuestConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                The user will be added to the list.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnAddGuest">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteEventConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                The event will be removed.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnDeleteEventConfirm">Save changes</button>
            </div>
        </div>
    </div>
</div>
<style>
    a.removeUserFromGuests {
        position: absolute;
        right: 22px;
    }

    .guestsListItem {
        margin-bottom: 5px;
        border-bottom: 1px solid;
    }

    .chkFilterGuests {
        margin-left: 15px !important;
    }

    #divFilterGuests {
        margin-bottom: 20px;
    }
</style>


<script src="~/Scripts/Controller/Event/EventInfoPartial.js"></script>
