﻿
<!DOCTYPE html>
<html>

@{
    var user = Session["user"] as EventCreator.Entities.Concrete.User;
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Event Creator</title>

    @Styles.Render("~/Content/css")

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    @Scripts.Render("~/bundles/modernizr")

    <script src="~/Scripts/Plugins/jquery-ui/jquery-ui.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

    @Scripts.Render("~/bundles/bootstrap")

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

    @Scripts.Render("~/bundles/templateJs")

    <script src="~/Scripts/Plugins/bootsrap-notify.min.js"></script>

    <script type="text/javascript" src="~/Scripts/Controller/User/UserInfoPartial.js"></script>
</head>
<body>
    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a href="~/MainPage" title="Home" style="color: #444444;    text-decoration: none;"><h1>
                        <i class="glyphicon glyphicon-glass"></i>
                        Event Creator
                    </h1>
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" style="margin-left:30%">
                        <li>
                            <h3>
                                <i>@ViewBag.PageTitle</i>
                            </h3>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="" style="margin-right: 10px;"><i>@(user.FirstName + " " + user.LastName)</i></span>
                                @if (File.Exists(Server.MapPath("~") + "Content/Images/User/" + user.Id + "_" + user.ImageVersion + ".jpeg"))
                                {
                                    <img  style="width: 40px;    height: 40px;" src="~/Content/Images/User/@(user.Id + "_" + user.ImageVersion).jpeg" />
                                }
                                else
                                {
                                    <img  style="width: 40px;    height: 40px;" src="~/Content/Images/User/0.jpeg" />

                                }
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="~/User/UserProfile/@(user.Id)">
                                        Profile
                                    </a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a class="dropdown-item" href="~/Login/LogOut" data-toggle="modal">
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div>
            <!-- Main Content -->
            <div id="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>

            </div>
        </div>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
